{% extends "FundaQueryBundle::layout.html.twig" %}

{% block title %}Funda Query - Welkom{% endblock %}

{% block content %}
    <h1>Welcome</h1>

    <p class="lead">Please choose your query.</p>
{% endblock %}